<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# Load the tag library #}
    {% load bootstrap5 %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--{% bootstrap_messages %}-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'productos/css/style.css' %}">
    <title>Title</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

    <!-- FontAwesome js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-..." crossorigin="anonymous"></script>
</body>

{% include 'footer.html' %}

</html>
