<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'actualizar' post.id %}" method="post">
        {% csrf_token %}
        <label for="title">Título:</label>
        <input type="text" name="title" value="{{ post.title }}">
      
        <label for="text">Contenido:</label>
        <textarea name="text">{{ post.text }}</textarea>
      
        <label for="author">Autor:</label>
        <input type="text" name="author" value="{{ post.author }}">
      
        <input type="submit" value="Guardar cambios">
    </form>    
</body>
</html>