{% extends 'layout.html' %}
{% load bootstrap5 %}
{% block content %}

    <section class="container mt-5">
        <div class="d-flex mb-1">
            <h2 class="d-inline-flex">Lista Productos</h2>
            <a class="d-inline-flex btn btn-primary ms-2" href={% url 'crear_productos' %} role="button">Crear</a>
        </div>

        {% bootstrap_messages %}
        {% if productos %}
            <!--tabla con productos-->
        <table class="table table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fabrica</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.fabrica }}</td>
                <td>
                    <a class="btn p-0" href="" role="button">
                        <i class="fa fa-edit fa-lg text-primary"></i>
                    </a>
                    <a class="btn p-0" href="" role="button">
                        <i class="fa fa-trash fa-lg text-danger"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td>NO HAY PRODUCTOS</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <!--No hay productos-->
        {% endif %}
    </section>
{% endblock %}